@page "/Tipo/Delete/{TipoId:int}"
@inject TiposTecnicoService tiposTecnicoService
@inject NavigationManager navigationManager;
@rendermode InteractiveServer

<div class="card">
    <div class="card-header bg-warning">
        <h1>Eliminar Tipo de T&eacute;cnico</h1>
    </div>
    <div class="card-body">
        <h5 class="card-title">¡Desea eliminar el Tipo de T&eacute;cnico!</h5>
        <dl class="row">
            <dt class="col-sm-3">ID:</dt>
            <dd class="col-sm-9">@TipoTecnico!.TipoId</dd>

            <dt class="col-sm-3">Nombre:</dt>
            <dd class="col-sm-9">@TipoTecnico.Descripcion</dd>

            <dt class="col-sm-3">Incentivo:</dt>
            <dd class="col-sm-9">@TipoTecnico.Incentivo</dd>
        </dl>
    </div>
    <div class="card-footer text-lg-center">
        <button type="button" class="btn btn-danger" @onclick="Eliminar">Eliminar <i class="bi bi-trash3" /></button>
        <button type="button" class="btn btn-outline-primary" @onclick="Volver">Volver <i class="bi bi-arrow-return-left" /></button>
    </div>
</div>
<Toasts class="p-5" Messages="Mensaje" Placement="ToastsPlacement.TopRight" />

@code {
    [Parameter]
    public int TipoId { get; set; }
    public TiposTecnicos? TipoTecnico { get; set; } = new TiposTecnicos();
    public List<TiposTecnicos> ListaTipos { get; set; } = new List<TiposTecnicos>();
    List<ToastMessage> Mensaje = new List<ToastMessage>();

    protected override async Task OnInitializedAsync()
    {
        TipoTecnico = await tiposTecnicoService.Buscar(TipoId);
        ListaTipos = await tiposTecnicoService.Listar(t => true);
    }
    private void MostrarMensaje(ToastType toastType, string mensaje)
    {
        Mensaje.Add(CreateToastMenssage(toastType, mensaje));
    }
    private ToastMessage CreateToastMenssage(ToastType toastType, string mensaje) => new ToastMessage
        {
            Type = toastType,
            Title = "Notificación",
            HelpText = $"{DateTime.Now}",
            Message = mensaje,
        };
    public async Task Eliminar()
    {
        await tiposTecnicoService.Eliminar(TipoTecnico!);
        MostrarMensaje(ToastType.Warning, $"Se eliminaron los datos correctamente.");
        await Task.Delay(1500);
        await Volver();
    }
    public Task Volver()
    {
        navigationManager.NavigateTo("/Tipo/Index");
        return Task.CompletedTask;
    }
}
