@page "/Tecnico/Create/"
@inject TecnicoService tecnicoservice
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<EditForm Model="Tecnico" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header bg-warning text-center">
            <h1>Crear T&eacute;cnico</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <label>ID:</label>
                    <div class="input-group">
                        <InputNumber min="0" @bind-Value="Tecnico.TecnicoId" class="form-control" READONLY></InputNumber>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <label>Nombre:</label>
                    <InputText @bind-Value="Tecnico.Nombres" class="form-control"></InputText>
                    <ValidationMessage For="@(() => Tecnico.Nombres)" />
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <label>Sueldo Hora:</label>
                    <InputNumber @bind-Value="Tecnico.SueldoHora" class="form-control"></InputNumber>
                    <ValidationMessage For="@(() => Tecnico.SueldoHora)" />
                </div>
            </div>
            <br />
            <div class="card-footer text-center">
                <button type="submit" class="btn btn-success">Guardar <i class="bi bi-floppy-fill" /></button>
                <button type="button" class="btn btn-outline-primary" @onclick="Volver">Volver <i class="bi bi-arrow-return-left" /></button>
            </div>
        </div>
        <p>@Notification</p>
    </div>
</EditForm>

@code {
    public Tecnicos Tecnico { get; set; } = new Tecnicos();
    private bool HayTecnico = false;
    public string Notification { get; set; } = string.Empty;

    public async Task<bool> Validar()
    {
        var listaTecnico = await tecnicoservice
        .Listar(t => t.Nombres!
            .ToLower() == Tecnico.Nombres!
            .ToLower() && t.TecnicoId != Tecnico.TecnicoId);
        HayTecnico = listaTecnico.Any();
        return HayTecnico;
    }
    public async Task Guardar()
    {
        if (await Validar())
        {
            Notification = "Ya existe un técnico con este nombre.";
            return;
        }
        var guardo = await tecnicoservice.Guardar(Tecnico);
        if (guardo)
        {
            Notification = "Se Guardo los datos correctamente";
            await Volver();
        }
    }
    public Task Volver()
    {
        NavigationManager.NavigateTo("/Tecnico/Index");
        return Task.CompletedTask;
    }
}
